*{
    margin: 0;
    padding: 0;
}
#top{
    width: 100%;
    height: 5vh;
    /* border: 1px solid red; */
    display: flex;
    justify-content:flex-end;
    background-color: #E9E9E9 ;
}
#top>div{
    width: 15%;
    /* border: 1px solid salmon; */
    display: flex;
    align-items: center;
}
#top>div>img{
    width: 10%;
    height: 60%;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100%;
}
#navbar{
    width: 100%;
    /* border: 2px solid salmon; */
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
    padding: 20px 0px;
}
#navbar1{
    width:100%;
    /* border: 2px solid yellowgreen; */
    /* height: 80px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: 20px auto;
}
#navbar1>div{
    /* border: 1px solid red; */
    justify-content: center;
}
#navbar1>div>p{
    font-weight: bolder;
}
#navbar1>div>p>span{
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    margin-right: 20px;
}
#navbar1>div>p{
    text-align: center;
}
#navbar1>div{
    text-align: center;
    /* display: grid; */
}
#search{
    width: 100%;
    display: grid;
}
#search>input{
    margin: auto;
    width: 30em;
    height: 3em;
    border-radius: 5px;
}
#account{
    display: flex;
    /* border: 2px solid red; */
    align-items: center;
}
#account>div{
    /* border: 1px solid blueviolet; */
    width: 40%;
    margin: auto;
    display: flex;
    /* font-size: 30px; */
    padding: 5px;
    align-items: center;
}
#account>div>img{
    width: 15%;
    margin-left: 15px;
    margin-right: 15px;
}
#cart{
    display:flex;
}
#cart>div{
    width: 30%;
    /* border: 1px solid blue; */
    margin: auto;
    display: flex;
    padding: 5px;
    align-items:center;
    
}
#cart>div>img{
    width: 24%;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
}

#navbar2{
    display: grid;
    grid-template-columns: repeat(14,1fr);
    /* border: 1px solid yellow; */
    margin: auto;
    justify-content: space-around;
}
#navbar2>div{
    /* border: 1px solid red; */
    font-size: 14px;
    color: grey;
    text-align: center;
}
#bnav{
    width: 98.5%;
    display: flex;
    /* border: 2px dashed springgreen; */
    padding: 10px;
    background-color: #F1EBEB;
}
#bnav>div{
    margin: auto;
    /* border: 2px solid red; */
    color: grey;
}
#time{
    width: 100%;
    /* border: 2px dashed blue; */
    height: 50px;
}
#time>button{
    width: 100%;
    height: 100%;
    margin: auto;
    border: none;
    background-color: #D5D0D0;
}
#time>button:hover{
    background-color: #F1EBEB;
}
#beautyfix{
    width:100%;
    display: flex;
    height: auto;
    /* border: 2px solid black; */
    margin-top: 80px;
}
#beautyfix>div{
    /* border: 2px solid black; */
    margin: auto;
}
#beautyfix>div:nth-child(2){
    width: 100%;
}
#beautyfix>div>img{
    width: 180%;
}
h1{
    font-size: 50px;
}
#bt{
    background-color: black;
    color: white;
    width: 40%;
    padding: 12px;
}
body {
    max-width: 100%;
    overflow-x: hidden;
} 
h2{
    text-align: center;
}
#get{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    margin: 40px auto;
    /* border: 2px solid greenyellow; */
}
#get>div{
    /* border: 2px solid red; */
    text-align: center;
}
#subscription{
    width: 95%;
    margin: auto;
    display: flex;
    margin-top: 70px;
    /* border: 2px solid red; */
}
#subscription>div{
    /* border: 2px solid blue; */
    text-align: center;
    width: 50%;
}
#subscription>div>button{
    background-color:black;
    color: white;
    width: 35%;
    padding: 10px;
    margin: 20px;
}
#footer1{
    width: 98%;
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    margin: auto;
    margin-top: 100px;
    border-top: 0.7px solid grey;
}
#footer1>div>img{
    width: 6%;
    margin-right: 10px;
}
#footer1>div>button{
    background-color: black;
    color: white;
    width: 20%;
    height: 40%;
}
#services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 98%;
    margin: auto;
    padding: 20px;
    /* border: 2px solid salmon; */
    border-bottom: 0.7px solid grey;
}
#services>div:nth-child(1){
    border-top: 0.7px solid grey;
}
#services2>div>p{
    margin-top: 7px;
    margin-bottom: 15px;
}
#services>div>p{
    margin-top: 7px;
    margin-bottom: 15px;
}

#services2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#services2>div{
    width: 85%;
    /* border: 1px solid black; */
    border-top: 0.7px solid grey;
}
#footer2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 15px;
}
#footer2>div>img{
    width: 8%;
}
#company{
    width: 95%;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 60px;
}
#company>div{
    text-align: center;
}

body {
    max-width: 100%;
    overflow-x: hidden;
}
