
#top{
    width: 100%;
    /* border: 1px solid red; */
    display: flex;
    justify-content:flex-end;
    /* margin-top: -10px; */
    background-color: #E9E9E9 ;
}
#top>div{
    width: 15%;
    /* border: 1px solid salmon; */
    display: flex;
}
#top>div>img{
    width: 10%;
    height: 40%;
    margin: auto;
    margin-left: 20px;
    margin-right: 20px;
    border-radius: 100px;
}
#navbar{
    width: 100%;
    /* border: 2px solid salmon; */
    position: sticky;
    top: 0px;
    z-index: 1;
    background-color: white;
}
#navbar1{
    width:100%;
    /* border: 2px solid yellowgreen; */
    /* height: 80px; */
    display: grid;
    grid-template-columns: repeat(4,1fr);
    margin: auto;
}
#navbar1>div{
    /* border: 1px solid red; */
    justify-content: center;
}
#navbar1>div>p{
    font-weight: bolder;
}
#navbar1>div>p>span{
    font-size: 80px;
    font-weight: bolder;
    text-align: center;
    margin-right: 20px;
}
#navbar1>div>p{
    text-align: center;
}
#navbar1>div{
    text-align: center;
    /* display: grid; */
}
#search{
    width: 100%;
    display: grid;
}
#search>input{
    margin: auto;
    width: 30em;
    height: 3em;
    border-radius: 5px;
}
#account{
    display: grid;
}
#account>div{
    /* border: 1px solid blueviolet; */
    width: 40%;
    margin: auto;
    display: flex;
    /* font-size: 30px; */
    padding: 5px;
}
#account>div>img{
    width: 35%;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
}
#cart{
    display: grid;
}
#cart>div{
    width: 30%;
    /* border: 1px solid blue; */
    margin: auto;
    display: flex;
    padding: 5px;
    
}
#cart>div>img{
    width: 40%;
    height: 10%;
    margin-left: 15px;
    margin-right: 15px;
}

#navbar2{
    display: grid;
    grid-template-columns: repeat(14,1fr);
    /* border: 1px solid yellow; */
    margin: auto;
    justify-content: space-around;
}
#navbar2>div{
    /* border: 1px solid red; */
    font-size: 14px;
    color: grey;
    text-align: center;
}
#bnav{
    width: 98.5%;
    display: flex;
    /* border: 2px dashed springgreen; */
    padding: 10px;
    background-color: #F1EBEB;
}
#bnav>div{
    margin: auto;
    /* border: 2px solid red; */
    color: grey;
}
#time{
    width: 100%;
    /* border: 2px dashed blue; */
    height: 50px;
}
#time>button{
    width: 100%;
    height: 100%;
    margin: auto;
    border: none;
    background-color: #D5D0D0;
}
#time>button:hover{
    background-color: #F1EBEB;
}
#services{
    display: grid;
    grid-template-columns: repeat(2,1fr);
    width: 98%;
    margin: auto;
    padding: 20px;
    /* border: 2px solid salmon; */
    border-bottom: 0.7px solid grey;
}
#services>div:nth-child(1){
    border-top: 0.7px solid grey;
}
#services2{
    display: grid;
    grid-template-columns: repeat(3,1fr);
}
#services2>div{
    width: 85%;
    /* border: 1px solid black; */
    border-top: 0.7px solid grey;
}
#footer2{
    width: 100%;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 20px;
    padding: 15px;
}
#footer2>div>img{
    width: 8%;
}
body {
    max-width: 100%;
    overflow-x: hidden;
}